

/*FONTS*/

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato Regular/Lato Regular.eot");
    src: url("../fonts/Lato Regular/Lato Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato Regular/Lato Regular.woff2") format("woff2"),
    url("../fonts/Lato Regular/Lato Regular.woff") format("woff"),
    url("../fonts/Lato Regular/Lato Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato Bold/Lato Bold.eot");
    src: url("../fonts/Lato Bold/Lato Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Lato Bold/Lato Bold.woff2") format("woff2"),
    url("../fonts/Lato Bold/Lato Bold.woff") format("woff"),
    url("../fonts/Lato Bold/Lato Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}



